
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 60px 100px 24px;
}

h3, h4, h5, h6, p {
  margin: 24px 100px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: rgb(40, 43, 173);
  font-weight: 600;
  font-size: 18px;
  transition: all .3s ease-in-out;
}

a:hover {
  font-size: 19px;
}

section {
  width: 75vw;
  margin: auto;
}